/vendor/
.idea
writable/logs/*
!writable/logs/index.html
writable/cache/*
!writable/cache/index.html
writable/debugbar/*
!writable/debugbar/.gitkeep
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
public/uploads
.env
.DS_Store