<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-left my-auto">
            <span>Copyright &copy; Agenda Vacina 2020</span>
        </div>
        <div class="copyright text-right my-auto">
            <span>Desenvolvido por <a href="https://www.adasi.com.br/">Adasi Software</a></span>
        </div>
    </div>
</footer>